<!-- wp:template-part {"slug":"header"} /-->
<!-- wp:wpbb/row {"customClasses":"container wpbb-woo-section","gutterX":"gx-4","gutterY":"gy-4","uniqueId":"wpbb-woo-archive-row"} -->
<!-- wp:wpbb/column {"xs":12,"md":12,"uniqueId":"wpbb-woo-archive-col"} -->
<!-- wp:woocommerce/store-notices /-->
<!-- wp:query-title {"type":"archive","level":1} /-->
<!-- wp:shortcode -->[iws_product_filter]<!-- /wp:shortcode -->
<!-- wp:shortcode -->[iws_product_filter_results]<!-- /wp:shortcode -->
<!-- /wp:wpbb/column -->
<!-- /wp:wpbb/row -->
<!-- wp:template-part {"slug":"footer"} /-->
