<!-- wp:template-part {"slug":"header"} /-->
<!-- wp:wpbb/row {"customClasses":"container wpbb-woo-section","gutterX":"gx-4","gutterY":"gy-4","uniqueId":"wpbb-woo-order-row"} -->
<!-- wp:wpbb/column {"xs":12,"md":12,"uniqueId":"wpbb-woo-order-col"} -->
<!-- wp:woocommerce/order-confirmation-status {"fontSize":"large"} /-->
<!-- wp:woocommerce/order-confirmation-summary /-->
<!-- wp:woocommerce/order-confirmation-totals-wrapper {"align":"wide"} --><!-- wp:pattern {"slug":"woocommerce/order-confirmation-totals-heading"} /--><!-- wp:woocommerce/order-confirmation-totals {"lock":{"remove":true}} /--><!-- /wp:woocommerce/order-confirmation-totals-wrapper -->
<!-- wp:woocommerce/order-confirmation-additional-information /-->
<!-- /wp:wpbb/column -->
<!-- /wp:wpbb/row -->
<!-- wp:template-part {"slug":"footer"} /-->
