<!-- wp:template-part {"slug":"header"} /-->
<!-- wp:wpbb/row {"customClasses":"container wpbb-woo-section","gutterX":"gx-4","gutterY":"gy-4","uniqueId":"wpbb-woo-single-row"} -->
<!-- wp:wpbb/column {"xs":12,"md":12,"uniqueId":"wpbb-woo-single-col"} -->
<!-- wp:woocommerce/store-notices /-->
<!-- wp:woocommerce/legacy-template {"template":"single-product"} /-->
<!-- wp:shortcode -->[product_reviews]<!-- /wp:shortcode -->
<!-- /wp:wpbb/column -->
<!-- /wp:wpbb/row -->
<!-- wp:template-part {"slug":"footer"} /-->
