<!-- wp:template-part {"slug":"header"} /-->
<!-- wp:wpbb/row {"customClasses":"container wpbb-woo-section iws-product-taxonomy-template","gutterX":"gx-4","gutterY":"gy-4","uniqueId":"wpbb-woo-tax-row"} -->
<!-- wp:wpbb/column {"xs":12,"md":12,"uniqueId":"wpbb-woo-tax-col"} -->
<!-- wp:shortcode -->[iws_product_taxonomy_archive]<!-- /wp:shortcode -->
<!-- wp:shortcode -->[woo_cat_bottom_desc]<!-- /wp:shortcode -->
<!-- /wp:wpbb/column -->
<!-- /wp:wpbb/row -->
<!-- wp:template-part {"slug":"footer"} /-->
